In [1]:
import pandas as pd
import numpy as np

In [2]:
query = pd.read_csv('../data/ASEE_URM.csv', encoding = "ISO-8859-1")

In [3]:
query

,Year,IPEDS Unit ID,School Name,Asian Male Full Time Freshman Sum,Asian Male Part Time Freshman Sum,Black/African American Male Full Time Freshman Sum,Black/African American Male Part Time Freshman Sum,Foreign Male Full Time Freshman Sum,Foreign Male Part Time Freshman Sum,Hispanic Male Full Time Freshman Sum,...,American Indian/Alaska Native Other Gender Full Time Senior Sum,American Indian/Alaska Native Other Gender Part Time Senior Sum,Other Ethnicity Other Gender Full Time Senior Sum,Other Ethnicity Other Gender Part Time Senior Sum,White Other Gender Full Time Senior Sum,White Other Gender Part Time Senior Sum,Multiracial Other Gender Full Time Senior Sum,Multiracial Other Gender Part Time Senior Sum,Unknown Other Gender Full Time Senior Sum,Unknown Other Gender Part Time Senior Sum
0,2021,139755.0,Georgia Institute of Technology,176.0,2.0,99.0,4.0,167,NaN,76.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2022,139755.0,Georgia Institute of Technology,52.0,1.0,73.0,1.0,71,NaN,52.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2020,139755.0,Georgia Institute of Technology,171.0,2.0,88.0,2.0,120,1.0,55.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2022,153603.0,Iowa State University,123.0,2.0,53.0,NaN,84,2.0,91.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2020,153603.0,Iowa State University,93.0,2.0,28.0,2.0,94,8.0,87.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88,2020,236948.0,University of Washington in Seattle,266.0,3.0,15.0,NaN,61,2.0,57.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
89,2021,236948.0,University of Washington in Seattle,306.0,4.0,30.0,NaN,62,NaN,55.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90,2022,240444.0,University of Wisconsin-Madison,61.0,NaN,12.0,NaN,75,NaN,61.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
91,2020,240444.0,University of Wisconsin-Madison,38.0,NaN,6.0,NaN,50,4.0,27.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
92,2021,240444.0,University of Wisconsin-Madison,37.0,NaN,10.0,NaN,71,NaN,42.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
query.isna().sum()

Year                                              0
IPEDS Unit ID                                     3
School Name                                       0
Asian Male Full Time Freshman Sum                 2
Asian Male Part Time Freshman Sum                45
                                                 ..
White Other Gender Part Time Senior Sum          93
Multiracial Other Gender Full Time Senior Sum    93
Multiracial Other Gender Part Time Senior Sum    93
Unknown Other Gender Full Time Senior Sum        87
Unknown Other Gender Part Time Senior Sum        93
Length: 323, dtype: int64

In [5]:
columns_to_fill = query.columns[3:]  # Exclude the first two columns

In [6]:
df_filled = query.copy(deep=True)  # Create a copy of the dataframe to avoid modifying the original

df_filled[columns_to_fill] = df_filled[columns_to_fill].fillna(0).astype(int)

In [7]:
df_filled

,Year,IPEDS Unit ID,School Name,Asian Male Full Time Freshman Sum,Asian Male Part Time Freshman Sum,Black/African American Male Full Time Freshman Sum,Black/African American Male Part Time Freshman Sum,Foreign Male Full Time Freshman Sum,Foreign Male Part Time Freshman Sum,Hispanic Male Full Time Freshman Sum,...,American Indian/Alaska Native Other Gender Full Time Senior Sum,American Indian/Alaska Native Other Gender Part Time Senior Sum,Other Ethnicity Other Gender Full Time Senior Sum,Other Ethnicity Other Gender Part Time Senior Sum,White Other Gender Full Time Senior Sum,White Other Gender Part Time Senior Sum,Multiracial Other Gender Full Time Senior Sum,Multiracial Other Gender Part Time Senior Sum,Unknown Other Gender Full Time Senior Sum,Unknown Other Gender Part Time Senior Sum
0,2021,139755.0,Georgia Institute of Technology,176,2,99,4,167,0,76,...,0,0,0,0,0,0,0,0,0,0
1,2022,139755.0,Georgia Institute of Technology,52,1,73,1,71,0,52,...,0,0,0,0,0,0,0,0,0,0
2,2020,139755.0,Georgia Institute of Technology,171,2,88,2,120,1,55,...,0,0,0,0,0,0,0,0,0,0
3,2022,153603.0,Iowa State University,123,2,53,0,84,2,91,...,0,0,0,0,0,0,0,0,0,0
4,2020,153603.0,Iowa State University,93,2,28,2,94,8,87,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88,2020,236948.0,University of Washington in Seattle,266,3,15,0,61,2,57,...,0,0,0,0,0,0,0,0,0,0
89,2021,236948.0,University of Washington in Seattle,306,4,30,0,62,0,55,...,0,0,0,0,0,0,0,0,0,0
90,2022,240444.0,University of Wisconsin-Madison,61,0,12,0,75,0,61,...,0,0,0,0,0,0,0,0,0,0
91,2020,240444.0,University of Wisconsin-Madison,38,0,6,0,50,4,27,...,0,0,0,0,0,0,0,0,0,0
92,2021,240444.0,University of Wisconsin-Madison,37,0,10,0,71,0,42,...,0,0,0,0,0,0,0,0,0,0

In [8]:
column_names = list(df_filled.columns[3:])
column_names

['Asian Male Full Time Freshman Sum',
 'Asian Male Part Time Freshman Sum',
 'Black/African American Male Full Time Freshman Sum',
 'Black/African American Male Part Time Freshman Sum',
 'Foreign Male Full Time Freshman Sum',
 'Foreign Male Part Time Freshman Sum',
 'Hispanic Male Full Time Freshman Sum',
 'Hispanic Male Part Time Freshman Sum',
 'American Indian/Alaska Native Male Full Time Freshman Sum',
 'American Indian/Alaska Native Male Part Time Freshman Sum',
 'Native Hawaiian/Other Pacific Islander Male Full Time Freshman Sum',
 'Native Hawaiian/Other Pacific Islander Male Part Time Freshman Sum',
 'Other Ethnicity Male Full Time Freshman Sum',
 'Other Ethnicity Male Part Time Freshman Sum',
 'White Male Full Time Freshman Sum',
 'White Male Part Time Freshman Sum',
 'Multiracial Male Full Time Freshman Sum',
 'Multiracial Male Part Time Freshman Sum',
 'Unknown Male Full Time Freshman Sum',
 'Unknown Male Part Time Freshman Sum',
 'Asian Female Full Time Freshman Sum',
 'Asian Female Part Time Freshman Sum',
 'Black/African American Female Full Time Freshman Sum',
 'Black/African American Female Part Time Freshman Sum',
 'Foreign Female Full Time Freshman Sum',
 'Foreign Female Part Time Freshman Sum',
 'Hispanic Female Full Time Freshman Sum',
 'Hispanic Female Part Time Freshman Sum',
 'American Indian/Alaska Native Female Full Time Freshman Sum',
 'American Indian/Alaska Native Female Part Time Freshman Sum',
 'Native Hawaiian/Other Pacific Islander Female Full Time Freshman Sum',
 'Native Hawaiian/Other Pacific Islander Female Part Time Freshman Sum',
 'Other Ethnicity Female Full Time Freshman Sum',
 'Other Ethnicity Female Part Time Freshman Sum',
 'White Female Full Time Freshman Sum',
 'White Female Part Time Freshman Sum',
 'Multiracial Female Full Time Freshman Sum',
 'Multiracial Female Part Time Freshman Sum',
 'Unknown Female Full Time Freshman Sum',
 'Unknown Female Part Time Freshman Sum',
 'Asian Non Binary Gender Full Time Freshman Sum',
 'Asian Non Binary Gender Part Time Freshman Sum',
 'Black/African American Non Binary Gender Full Time Freshman Sum',
 'Black/African American Non Binary Gender Part Time Freshman Sum',
 'Foreign Non Binary Gender Full Time Freshman Sum',
 'Foreign Non Binary Gender Part Time Freshman Sum',
 'Native Hawaiian/Other Pacific Islander Non Binary Gender Full Time Freshman Sum',
 'Native Hawaiian/Other Pacific Islander Non Binary Gender Part Time Freshman Sum',
 'Hispanic Non Binary Gender Full Time Freshman Sum',
 'Hispanic Non Binary Gender Part Time Freshman Sum',
 'American Indian/Alaska Native Non Binary Gender Full Time Freshman Sum',
 'American Indian/Alaska Native Non Binary Gender Part Time Freshman Sum',
 'Other Ethnicity Non Binary Gender Full Time Freshman Sum',
 'Other Ethnicity Non Binary Gender Part Time Freshman Sum',
 'White Non Binary Gender Full Time Freshman Sum',
 'White Non Binary Gender Part Time Freshman Sum',
 'Multiracial Non Binary Gender Full Time Freshman Sum',
 'Multiracial Non Binary Gender Part Time Freshman Sum',
 'Unknown Non Binary Gender Full Time Freshman Sum',
 'Unknown Non Binary Gender Part Time Freshman Sum',
 'Asian Other Gender Full Time Freshman Sum',
 'Asian Other Gender Part Time Freshman Sum',
 'Black/African AmericanOther Gender Full Time Freshman Sum',
 'Black/African AmericanOther Gender Part Time Freshman Sum',
 'Foreign Other Gender Full Time Freshman Sum',
 'Foreign Other Gender Part Time Freshman Sum',
 'Native Hawaiian/Other Pacific Islander Other Gender Full Time Freshman Sum',
 'Native Hawaiian/Other Pacific Islander Other Gender Part Time Freshman Sum',
 'Hispanic Other Gender Full Time Freshman Sum',
 'Hispanic Other Gender Part Time Freshman Sum',
 'American Indian/Alaska Native Other Gender Full Time Freshman Sum',
 'American Indian/Alaska Native Other Gender Part Time Freshman Sum',
 'Other Ethnicity Other Gender Full Time Freshman Sum',
 'Other Ethnicity Other Gender Part Time Freshman Sum',
 'White Other Gender Full Time Freshman Sum',
 'White Other Gender Part Time Freshman Sum',
 'Multiracial Other Gender Full Time Freshman Sum',
 'Multiracial Other Gender Part Time Freshman Sum',
 'Unknown Other Gender Full Time Freshman Sum',
 'Unknown Other Gender Part Time Freshman Sum',
 'Asian Male Full Time Sophomore Sum',
 'Asian Male Part Time Sophomore Sum',
 'Black/African American Male Full Time Sophomore Sum',
 'Black/African American Male Part Time Sophomore Sum',
 'Foreign Male Full Time Sophomore Sum',
 'Foreign Male Part Time Sophomore Sum',
 'Hispanic Male Full Time Sophomore Sum',
 'Hispanic Male Part Time Sophomore Sum',
 'American Indian/Alaska Native Male Full Time Sophomore Sum',
 'American Indian/Alaska Native Male Part Time Sophomore Sum',
 'Native Hawaiian/Other Pacific Islander Male Full Time Sophomore Sum',
 'Native Hawaiian/Other Pacific Islander Male Part Time Sophomore Sum',
 'Other Ethnicity Male Full Time Sophomore Sum',
 'Other Ethnicity Male Part Time Sophomore Sum',
 'White Male Full Time Sophomore Sum',
 'White Male Part Time Sophomore Sum',
 'Multiracial Male Full Time Sophomore Sum',
 'Multiracial Male Part Time Sophomore Sum',
 'Unknown Male Full Time Sophomore Sum',
 'Unknown Male Part Time Sophomore Sum',
 'Asian Female Full Time Sophomore Sum',
 'Asian Female Part Time Sophomore Sum',
 'Black/African American Female Full Time Sophomore Sum',
 'Black/African American Female Part Time Sophomore Sum',
 'Foreign Female Full Time Sophomore Sum',
 'Foreign Female Part Time Sophomore Sum',
 'Hispanic Female Full Time Sophomore Sum',
 'Hispanic Female Part Time Sophomore Sum',
 'American Indian/Alaska Native Female Full Time Sophomore Sum',
 'American Indian/Alaska Native Female Part Time Sophomore Sum',
 'Native Hawaiian/Other Pacific Islander Female Full Time Sophomore Sum',
 'Native Hawaiian/Other Pacific Islander Female Part Time Sophomore Sum',
 'Other Ethnicity Female Full Time Sophomore Sum',
 'Other Ethnicity Female Part Time Sophomore Sum',
 'White Female Full Time Sophomore Sum',
 'White Female Part Time Sophomore Sum',
 'Multiracial Female Full Time Sophomore Sum',
 'Multiracial Female Part Time Sophomore Sum',
 'Unknown Female Full Time Sophomore Sum',
 'Unknown Female Part Time Sophomore Sum',
 'Asian Non Binary Gender Full Time Sophomore Sum',
 'Asian Non Binary Gender Part Time Sophomore Sum',
 'Black/African American Non Binary Gender Full Time Sophomore Sum',
 'Black/African American Non Binary Gender Part Time Sophomore Sum',
 'Foreign Non Binary Gender Full Time Sophomore Sum',
 'Foreign Non Binary Gender Part Time Sophomore Sum',
 'Native Hawaiian/Other Pacific Islander Non Binary Gender Full Time Sophomore Sum',
 'Native Hawaiian/Other Pacific Islander Non Binary Gender Part Time Sophomore Sum',
 'Hispanic Non Binary Gender Full Time Sophomore Sum',
 'Hispanic Non Binary Gender Part Time Sophomore Sum',
 'American Indian/Alaska Native Non Binary Gender Full Time Sophomore Sum',
 'American Indian/Alaska Native Non Binary Gender Part Time Sophomore Sum',
 'Other Ethnicity Non Binary Gender Full Time Sophomore Sum',
 'Other Ethnicity Non Binary Gender Part Time Sophomore Sum',
 'White Non Binary Gender Full Time Sophomore Sum',
 'White Non Binary Gender Part Time Sophomore Sum',
 'Multiracial Non Binary Gender Full Time Sophomore Sum',
 'Multiracial Non Binary Gender Part Time Sophomore Sum',
 'Unknown Non Binary Gender Full Time Sophomore Sum',
 'Unknown Non Binary Gender Part Time Sophomore Sum',
 'Asian Other Gender Full Time Sophomore Sum',
 'Asian Other Gender Part Time Sophomore Sum',
 'Black/African AmericanOther Gender Full Time Sophomore Sum',
 'Black/African AmericanOther Gender Part Time Sophomore Sum',
 'Foreign Other Gender Full Time Sophomore Sum',
 'Foreign Other Gender Part Time Sophomore Sum',
 'Native Hawaiian/Other Pacific Islander Other Gender Full Time Sophomore Sum',
 'Native Hawaiian/Other Pacific Islander Other Gender Part Time Sophomore Sum',
 'Hispanic Other Gender Full Time Sophomore Sum',
 'Hispanic Other Gender Part Time Sophomore Sum',
 'American Indian/Alaska Native Other Gender Full Time Sophomore Sum',
 'American Indian/Alaska Native Other Gender Part Time Sophomore Sum',
 'Other Ethnicity Other Gender Full Time Sophomore Sum',
 'Other Ethnicity Other Gender Part Time Sophomore Sum',
 'White Other Gender Full Time Sophomore Sum',
 'White Other Gender Part Time Sophomore Sum',
 'Multiracial Other Gender Full Time Sophomore Sum',
 'Multiracial Other Gender Part Time Sophomore Sum',
 'Unknown Other Gender Full Time Sophomore Sum',
 'Unknown Other Gender Part Time Sophomore Sum',
 'Asian Male Full Time Junior Sum',
 'Asian Male Part Time Junior Sum',
 'Black/African American Male Full Time Junior Sum',
 'Black/African American Male Part Time Junior Sum',
 'Foreign Male Full Time Junior Sum',
 'Foreign Male Part Time Junior Sum',
 'Hispanic Male Full Time Junior Sum',
 'Hispanic Male Part Time Junior Sum',
 'American Indian/Alaska Native Male Full Time Junior Sum',
 'American Indian/Alaska Native Male Part Time Junior Sum',
 'Native Hawaiian/Other Pacific Islander Male Full Time Junior Sum',
 'Native Hawaiian/Other Pacific Islander Male Part Time Junior Sum',
 'Other Ethnicity Male Full Time Junior Sum',
 'Other Ethnicity Male Part Time Junior Sum',
 'White Male Full Time Junior Sum',
 'White Male Part Time Junior Sum',
 'Multiracial Male Full Time Junior Sum',
 'Multiracial Male Part Time Junior Sum',
 'Unknown Male Full Time Junior Sum',
 'Unknown Male Part Time Junior Sum',
 'Asian Female Full Time Junior Sum',
 'Asian Female Part Time Junior Sum',
 'Black/African American Female Full Time Junior Sum',
 'Black/African American Female Part Time Junior Sum',
 'Foreign Female Full Time Junior Sum',
 'Foreign Female Part Time Junior Sum',
 'Hispanic Female Full Time Junior Sum',
 'Hispanic Female Part Time Junior Sum',
 'American Indian/Alaska Native Female Full Time Junior Sum',
 'American Indian/Alaska Native Female Part Time Junior Sum',
 'Native Hawaiian/Other Pacific Islander Female Full Time Junior Sum',
 'Native Hawaiian/Other Pacific Islander Female Part Time Junior Sum',
 'Other Ethnicity Female Full Time Junior Sum',
 'Other Ethnicity Female Part Time Junior Sum',
 'White Female Full Time Junior Sum',
 'White Female Part Time Junior Sum',
 'Multiracial Female Full Time Junior Sum',
 'Multiracial Female Part Time Junior Sum',
 'Unknown Female Full Time Junior Sum',
 'Unknown Female Part Time Junior Sum',
 'Asian Non Binary Gender Full Time Junior Sum',
 'Asian Non Binary Gender Part Time Junior Sum',
 'Black/African American Non Binary Gender Full Time Junior Sum',
 'Black/African American Non Binary Gender Part Time Junior Sum',
 'Foreign Non Binary Gender Full Time Junior Sum',
 'Foreign Non Binary Gender Part Time Junior Sum',
 'Native Hawaiian/Other Pacific Islander Non Binary Gender Full Time Junior Sum',
 'Native Hawaiian/Other Pacific Islander Non Binary Gender Part Time Junior Sum',
 'Hispanic Non Binary Gender Full Time Junior Sum',
 'Hispanic Non Binary Gender Part Time Junior Sum',
 'American Indian/Alaska Native Non Binary Gender Full Time Junior Sum',
 'American Indian/Alaska Native Non Binary Gender Part Time Junior Sum',
 'Other Ethnicity Non Binary Gender Full Time Junior Sum',
 'Other Ethnicity Non Binary Gender Part Time Junior Sum',
 'White Non Binary Gender Full Time Junior Sum',
 'White Non Binary Gender Part Time Junior Sum',
 'Multiracial Non Binary Gender Full Time Junior Sum',
 'Multiracial Non Binary Gender Part Time Junior Sum',
 'Unknown Non Binary Gender Full Time Junior Sum',
 'Unknown Non Binary Gender Part Time Junior Sum',
 'Asian Other Gender Full Time Junior Sum',
 'Asian Other Gender Part Time Junior Sum',
 'Black/African AmericanOther Gender Full Time Junior Sum',
 'Black/African AmericanOther Gender Part Time Junior Sum',
 'Foreign Other Gender Full Time Junior Sum',
 'Foreign Other Gender Part Time Junior Sum',
 'Native Hawaiian/Other Pacific Islander Other Gender Full Time Junior Sum',
 'Native Hawaiian/Other Pacific Islander Other Gender Part Time Junior Sum',
 'Hispanic Other Gender Full Time Junior Sum',
 'Hispanic Other Gender Part Time Junior Sum',
 'American Indian/Alaska Native Other Gender Full Time Junior Sum',
 'American Indian/Alaska Native Other Gender Part Time Junior Sum',
 'Other Ethnicity Other Gender Full Time Junior Sum',
 'Other Ethnicity Other Gender Part Time Junior Sum',
 'White Other Gender Full Time Junior Sum',
 'White Other Gender Part Time Junior Sum',
 'Multiracial Other Gender Full Time Junior Sum',
 'Multiracial Other Gender Part Time Junior Sum',
 'Unknown Other Gender Full Time Junior Sum',
 'Unknown Other Gender Part Time Junior Sum',
 'Asian Male Full Time Senior Sum',
 'Asian Male Part Time Senior Sum',
 'Black/African American Male Full Time Senior Sum',
 'Black/African American Male Part Time Senior Sum',
 'Foreign Male Full Time Senior Sum',
 'Foreign Male Part Time Senior Sum',
 'Hispanic Male Full Time Senior Sum',
 'Hispanic Male Part Time Senior Sum',
 'American Indian/Alaska Native Male Full Time Senior Sum',
 'American Indian/Alaska Native Male Part Time Senior Sum',
 'Native Hawaiian/Other Pacific Islander Male Full Time Senior Sum',
 'Native Hawaiian/Other Pacific Islander Male Part Time Senior Sum',
 'Other Ethnicity Male Full Time Senior Sum',
 'Other Ethnicity Male Part Time Senior Sum',
 'White Male Full Time Senior Sum',
 'White Male Part Time Senior Sum',
 'Multiracial Male Full Time Senior Sum',
 'Multiracial Male Part Time Senior Sum',
 'Unknown Male Full Time Senior Sum',
 'Unknown Male Part Time Senior Sum',
 'Asian Female Full Time Senior Sum',
 'Asian Female Part Time Senior Sum',
 'Black/African American Female Full Time Senior Sum',
 'Black/African American Female Part Time Senior Sum',
 'Foreign Female Full Time Senior Sum',
 'Foreign Female Part Time Senior Sum',
 'Hispanic Female Full Time Senior Sum',
 'Hispanic Female Part Time Senior Sum',
 'American Indian/Alaska Native Female Full Time Senior Sum',
 'American Indian/Alaska Native Female Part Time Senior Sum',
 'Native Hawaiian/Other Pacific Islander Female Full Time Senior Sum',
 'Native Hawaiian/Other Pacific Islander Female Part Time Senior Sum',
 'Other Ethnicity Female Full Time Senior Sum',
 'Other Ethnicity Female Part Time Senior Sum',
 'White Female Full Time Senior Sum',
 'White Female Part Time Senior Sum',
 'Multiracial Female Full Time Senior Sum',
 'Multiracial Female Part Time Senior Sum',
 'Unknown Female Full Time Senior Sum',
 'Unknown Female Part Time Senior Sum',
 'Asian Non Binary Gender Full Time Senior Sum',
 'Asian Non Binary Gender Part Time Senior Sum',
 'Black/African American Non Binary Gender Full Time Senior Sum',
 'Black/African American Non Binary Gender Part Time Senior Sum',
 'Foreign Non Binary Gender Full Time Senior Sum',
 'Foreign Non Binary Gender Part Time Senior Sum',
 'Native Hawaiian/Other Pacific Islander Non Binary Gender Full Time Senior Sum',
 'Native Hawaiian/Other Pacific Islander Non Binary Gender Part Time Senior Sum',
 'Hispanic Non Binary Gender Full Time Senior Sum',
 'Hispanic Non Binary Gender Part Time Senior Sum',
 'American Indian/Alaska Native Non Binary Gender Full Time Senior Sum',
 'American Indian/Alaska Native Non Binary Gender Part Time Senior Sum',
 'Other Ethnicity Non Binary Gender Full Time Senior Sum',
 'Other Ethnicity Non Binary Gender Part Time Senior Sum',
 'White Non Binary Gender Full Time Senior Sum',
 'White Non Binary Gender Part Time Senior Sum',
 'Multiracial Non Binary Gender Full Time Senior Sum',
 'Multiracial Non Binary Gender Part Time Senior Sum',
 'Unknown Non Binary Gender Full Time Senior Sum',
 'Unknown Non Binary Gender Part Time Senior Sum',
 'Asian Other Gender Full Time Senior Sum',
 'Asian Other Gender Part Time Senior Sum',
 'Black/African AmericanOther Gender Full Time Senior Sum',
 'Black/African AmericanOther Gender Part Time Senior Sum',
 'Foreign Other Gender Full Time Senior Sum',
 'Foreign Other Gender Part Time Senior Sum',
 'Native Hawaiian/Other Pacific Islander Other Gender Full Time Senior Sum',
 'Native Hawaiian/Other Pacific Islander Other Gender Part Time Senior Sum',
 'Hispanic Other Gender Full Time Senior Sum',
 'Hispanic Other Gender Part Time Senior Sum',
 'American Indian/Alaska Native Other Gender Full Time Senior Sum',
 'American Indian/Alaska Native Other Gender Part Time Senior Sum',
 'Other Ethnicity Other Gender Full Time Senior Sum',
 'Other Ethnicity Other Gender Part Time Senior Sum',
 'White Other Gender Full Time Senior Sum',
 'White Other Gender Part Time Senior Sum',
 'Multiracial Other Gender Full Time Senior Sum',
 'Multiracial Other Gender Part Time Senior Sum',
 'Unknown Other Gender Full Time Senior Sum',
 'Unknown Other Gender Part Time Senior Sum']

## Total Students

In [9]:
total = df_filled[column_names]

In [10]:
total

,Asian Male Full Time Freshman Sum,Asian Male Part Time Freshman Sum,Black/African American Male Full Time Freshman Sum,Black/African American Male Part Time Freshman Sum,Foreign Male Full Time Freshman Sum,Foreign Male Part Time Freshman Sum,Hispanic Male Full Time Freshman Sum,Hispanic Male Part Time Freshman Sum,American Indian/Alaska Native Male Full Time Freshman Sum,American Indian/Alaska Native Male Part Time Freshman Sum,...,American Indian/Alaska Native Other Gender Full Time Senior Sum,American Indian/Alaska Native Other Gender Part Time Senior Sum,Other Ethnicity Other Gender Full Time Senior Sum,Other Ethnicity Other Gender Part Time Senior Sum,White Other Gender Full Time Senior Sum,White Other Gender Part Time Senior Sum,Multiracial Other Gender Full Time Senior Sum,Multiracial Other Gender Part Time Senior Sum,Unknown Other Gender Full Time Senior Sum,Unknown Other Gender Part Time Senior Sum
0,176,2,99,4,167,0,76,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,52,1,73,1,71,0,52,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,171,2,88,2,120,1,55,0,2,0,...,0,0,0,0,0,0,0,0,0,0
3,123,2,53,0,84,2,91,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,93,2,28,2,94,8,87,7,3,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88,266,3,15,0,61,2,57,1,0,0,...,0,0,0,0,0,0,0,0,0,0
89,306,4,30,0,62,0,55,0,2,0,...,0,0,0,0,0,0,0,0,0,0
90,61,0,12,0,75,0,61,0,2,0,...,0,0,0,0,0,0,0,0,0,0
91,38,0,6,0,50,4,27,0,1,0,...,0,0,0,0,0,0,0,0,0,0
92,37,0,10,0,71,0,42,0,2,0,...,0,0,0,0,0,0,0,0,0,0

In [11]:
total_students = total.sum(axis=1)
overall_total_students = total_students.sum()

In [12]:
total_students

0      8979
1      9095
2     11442
3      7792
4      8479
      ...
88     5131
89     5411
90     7105
91     6421
92     6678
Length: 93, dtype: int64

In [13]:
overall_total_students

555163

## Total Female students

In [14]:
female_students = df_filled[['Asian Female Full Time Freshman Sum',
 'Asian Female Part Time Freshman Sum',
 'Black/African American Female Full Time Freshman Sum',
 'Black/African American Female Part Time Freshman Sum',
 'Foreign Female Full Time Freshman Sum',
 'Foreign Female Part Time Freshman Sum',
 'Hispanic Female Full Time Freshman Sum',
 'Hispanic Female Part Time Freshman Sum',
 'American Indian/Alaska Native Female Full Time Freshman Sum',
 'American Indian/Alaska Native Female Part Time Freshman Sum',
 'Native Hawaiian/Other Pacific Islander Female Full Time Freshman Sum',
 'Native Hawaiian/Other Pacific Islander Female Part Time Freshman Sum',
 'Other Ethnicity Female Full Time Freshman Sum',
 'Other Ethnicity Female Part Time Freshman Sum',
 'White Female Full Time Freshman Sum',
 'White Female Part Time Freshman Sum',
 'Multiracial Female Full Time Freshman Sum',
 'Multiracial Female Part Time Freshman Sum',
 'Unknown Female Full Time Freshman Sum',
 'Unknown Female Part Time Freshman Sum',
 'Asian Female Full Time Sophomore Sum',
 'Asian Female Part Time Sophomore Sum',
 'Black/African American Female Full Time Sophomore Sum',
 'Black/African American Female Part Time Sophomore Sum',
 'Foreign Female Full Time Sophomore Sum',
 'Foreign Female Part Time Sophomore Sum',
 'Hispanic Female Full Time Sophomore Sum',
 'Hispanic Female Part Time Sophomore Sum',
 'American Indian/Alaska Native Female Full Time Sophomore Sum',
 'American Indian/Alaska Native Female Part Time Sophomore Sum',
 'Native Hawaiian/Other Pacific Islander Female Full Time Sophomore Sum',
 'Native Hawaiian/Other Pacific Islander Female Part Time Sophomore Sum',
 'Other Ethnicity Female Full Time Sophomore Sum',
 'Other Ethnicity Female Part Time Sophomore Sum',
 'White Female Full Time Sophomore Sum',
 'White Female Part Time Sophomore Sum',
 'Multiracial Female Full Time Sophomore Sum',
 'Multiracial Female Part Time Sophomore Sum',
 'Unknown Female Full Time Sophomore Sum',
 'Unknown Female Part Time Sophomore Sum', 
 'Asian Female Full Time Junior Sum',
 'Asian Female Part Time Junior Sum',
 'Black/African American Female Full Time Junior Sum',
 'Black/African American Female Part Time Junior Sum',
 'Foreign Female Full Time Junior Sum',
 'Foreign Female Part Time Junior Sum',
 'Hispanic Female Full Time Junior Sum',
 'Hispanic Female Part Time Junior Sum',
 'American Indian/Alaska Native Female Full Time Junior Sum',
 'American Indian/Alaska Native Female Part Time Junior Sum',
 'Native Hawaiian/Other Pacific Islander Female Full Time Junior Sum',
 'Native Hawaiian/Other Pacific Islander Female Part Time Junior Sum',
 'Other Ethnicity Female Full Time Junior Sum',
 'Other Ethnicity Female Part Time Junior Sum',
 'White Female Full Time Junior Sum',
 'White Female Part Time Junior Sum',
 'Multiracial Female Full Time Junior Sum',
 'Multiracial Female Part Time Junior Sum',
 'Unknown Female Full Time Junior Sum',
 'Unknown Female Part Time Junior Sum','Asian Female Full Time Senior Sum',
 'Asian Female Part Time Senior Sum',
 'Black/African American Female Full Time Senior Sum',
 'Black/African American Female Part Time Senior Sum',
 'Foreign Female Full Time Senior Sum',
 'Foreign Female Part Time Senior Sum',
 'Hispanic Female Full Time Senior Sum',
 'Hispanic Female Part Time Senior Sum',
 'American Indian/Alaska Native Female Full Time Senior Sum',
 'American Indian/Alaska Native Female Part Time Senior Sum',
 'Native Hawaiian/Other Pacific Islander Female Full Time Senior Sum',
 'Native Hawaiian/Other Pacific Islander Female Part Time Senior Sum',
 'Other Ethnicity Female Full Time Senior Sum',
 'Other Ethnicity Female Part Time Senior Sum',
 'White Female Full Time Senior Sum',
 'White Female Part Time Senior Sum',
 'Multiracial Female Full Time Senior Sum',
 'Multiracial Female Part Time Senior Sum',
 'Unknown Female Full Time Senior Sum',
 'Unknown Female Part Time Senior Sum']]

In [15]:
female_students

,Asian Female Full Time Freshman Sum,Asian Female Part Time Freshman Sum,Black/African American Female Full Time Freshman Sum,Black/African American Female Part Time Freshman Sum,Foreign Female Full Time Freshman Sum,Foreign Female Part Time Freshman Sum,Hispanic Female Full Time Freshman Sum,Hispanic Female Part Time Freshman Sum,American Indian/Alaska Native Female Full Time Freshman Sum,American Indian/Alaska Native Female Part Time Freshman Sum,...,Native Hawaiian/Other Pacific Islander Female Full Time Senior Sum,Native Hawaiian/Other Pacific Islander Female Part Time Senior Sum,Other Ethnicity Female Full Time Senior Sum,Other Ethnicity Female Part Time Senior Sum,White Female Full Time Senior Sum,White Female Part Time Senior Sum,Multiracial Female Full Time Senior Sum,Multiracial Female Part Time Senior Sum,Unknown Female Full Time Senior Sum,Unknown Female Part Time Senior Sum
0,108,0,65,1,102,0,52,1,0,0,...,0,0,0,0,555,120,68,15,23,3
1,50,0,39,0,42,0,21,1,0,0,...,1,0,0,0,655,95,68,13,18,1
2,109,0,53,0,78,0,42,1,1,0,...,0,0,0,0,574,117,66,11,40,3
3,27,0,11,1,20,2,22,0,0,0,...,0,0,0,0,291,25,14,1,14,2
4,18,0,6,0,9,1,30,0,1,0,...,0,0,0,0,325,32,12,1,26,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88,185,1,11,0,16,2,34,0,1,0,...,3,0,0,0,190,17,54,5,12,2
89,217,1,10,0,18,0,30,0,1,0,...,1,1,0,0,201,24,64,3,20,1
90,26,0,6,0,31,0,27,0,0,0,...,0,0,0,0,423,42,35,3,33,5
91,15,1,8,0,15,0,13,0,1,0,...,0,0,0,0,384,62,32,0,18,3
92,19,0,9,0,20,0,13,0,0,0,...,0,0,0,0,406,52,32,3,25,6

In [16]:
total_female_students = female_students.sum(axis=1)
overall_total_female = total_female_students.sum()

In [17]:
overall_total_female

143714

## Total Male Students

In [18]:
male_students = df_filled[['Asian Male Full Time Freshman Sum',
 'Asian Male Part Time Freshman Sum',
 'Black/African American Male Full Time Freshman Sum',
 'Black/African American Male Part Time Freshman Sum',
 'Foreign Male Full Time Freshman Sum',
 'Foreign Male Part Time Freshman Sum',
 'Hispanic Male Full Time Freshman Sum',
 'Hispanic Male Part Time Freshman Sum',
 'American Indian/Alaska Native Male Full Time Freshman Sum',
 'American Indian/Alaska Native Male Part Time Freshman Sum',
 'Native Hawaiian/Other Pacific Islander Male Full Time Freshman Sum',
 'Native Hawaiian/Other Pacific Islander Male Part Time Freshman Sum',
 'Other Ethnicity Male Full Time Freshman Sum',
 'Other Ethnicity Male Part Time Freshman Sum',
 'White Male Full Time Freshman Sum',
 'White Male Part Time Freshman Sum',
 'Multiracial Male Full Time Freshman Sum',
 'Multiracial Male Part Time Freshman Sum',
 'Unknown Male Full Time Freshman Sum',
 'Unknown Male Part Time Freshman Sum', 
 'Asian Male Full Time Sophomore Sum',
 'Asian Male Part Time Sophomore Sum',
 'Black/African American Male Full Time Sophomore Sum',
 'Black/African American Male Part Time Sophomore Sum',
 'Foreign Male Full Time Sophomore Sum',
 'Foreign Male Part Time Sophomore Sum',
 'Hispanic Male Full Time Sophomore Sum',
 'Hispanic Male Part Time Sophomore Sum',
 'American Indian/Alaska Native Male Full Time Sophomore Sum',
 'American Indian/Alaska Native Male Part Time Sophomore Sum',
 'Native Hawaiian/Other Pacific Islander Male Full Time Sophomore Sum',
 'Native Hawaiian/Other Pacific Islander Male Part Time Sophomore Sum',
 'Other Ethnicity Male Full Time Sophomore Sum',
 'Other Ethnicity Male Part Time Sophomore Sum',
 'White Male Full Time Sophomore Sum',
 'White Male Part Time Sophomore Sum',
 'Multiracial Male Full Time Sophomore Sum',
 'Multiracial Male Part Time Sophomore Sum',
 'Unknown Male Full Time Sophomore Sum',
 'Unknown Male Part Time Sophomore Sum', 'Asian Male Full Time Junior Sum',
 'Asian Male Part Time Junior Sum',
 'Black/African American Male Full Time Junior Sum',
 'Black/African American Male Part Time Junior Sum',
 'Foreign Male Full Time Junior Sum',
 'Foreign Male Part Time Junior Sum',
 'Hispanic Male Full Time Junior Sum',
 'Hispanic Male Part Time Junior Sum',
 'American Indian/Alaska Native Male Full Time Junior Sum',
 'American Indian/Alaska Native Male Part Time Junior Sum',
 'Native Hawaiian/Other Pacific Islander Male Full Time Junior Sum',
 'Native Hawaiian/Other Pacific Islander Male Part Time Junior Sum',
 'Other Ethnicity Male Full Time Junior Sum',
 'Other Ethnicity Male Part Time Junior Sum',
 'White Male Full Time Junior Sum',
 'White Male Part Time Junior Sum',
 'Multiracial Male Full Time Junior Sum',
 'Multiracial Male Part Time Junior Sum',
 'Unknown Male Full Time Junior Sum',
 'Unknown Male Part Time Junior Sum', 'Asian Male Full Time Senior Sum',
 'Asian Male Part Time Senior Sum',
 'Black/African American Male Full Time Senior Sum',
 'Black/African American Male Part Time Senior Sum',
 'Foreign Male Full Time Senior Sum',
 'Foreign Male Part Time Senior Sum',
 'Hispanic Male Full Time Senior Sum',
 'Hispanic Male Part Time Senior Sum',
 'American Indian/Alaska Native Male Full Time Senior Sum',
 'American Indian/Alaska Native Male Part Time Senior Sum',
 'Native Hawaiian/Other Pacific Islander Male Full Time Senior Sum',
 'Native Hawaiian/Other Pacific Islander Male Part Time Senior Sum',
 'Other Ethnicity Male Full Time Senior Sum',
 'Other Ethnicity Male Part Time Senior Sum',
 'White Male Full Time Senior Sum',
 'White Male Part Time Senior Sum',
 'Multiracial Male Full Time Senior Sum',
 'Multiracial Male Part Time Senior Sum',
 'Unknown Male Full Time Senior Sum',
 'Unknown Male Part Time Senior Sum']]

In [19]:
male_students

,Asian Male Full Time Freshman Sum,Asian Male Part Time Freshman Sum,Black/African American Male Full Time Freshman Sum,Black/African American Male Part Time Freshman Sum,Foreign Male Full Time Freshman Sum,Foreign Male Part Time Freshman Sum,Hispanic Male Full Time Freshman Sum,Hispanic Male Part Time Freshman Sum,American Indian/Alaska Native Male Full Time Freshman Sum,American Indian/Alaska Native Male Part Time Freshman Sum,...,Native Hawaiian/Other Pacific Islander Male Full Time Senior Sum,Native Hawaiian/Other Pacific Islander Male Part Time Senior Sum,Other Ethnicity Male Full Time Senior Sum,Other Ethnicity Male Part Time Senior Sum,White Male Full Time Senior Sum,White Male Part Time Senior Sum,Multiracial Male Full Time Senior Sum,Multiracial Male Part Time Senior Sum,Unknown Male Full Time Senior Sum,Unknown Male Part Time Senior Sum
0,176,2,99,4,167,0,76,1,0,0,...,0,0,0,0,1179,244,93,28,32,13
1,52,1,73,1,71,0,52,1,0,0,...,0,0,0,0,1429,219,148,20,41,9
2,171,2,88,2,120,1,55,0,2,0,...,0,0,0,0,1218,269,106,25,74,19
3,123,2,53,0,84,2,91,0,1,0,...,1,0,0,0,1468,194,50,11,74,8
4,93,2,28,2,94,8,87,7,3,0,...,0,0,0,0,1796,211,54,4,117,20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88,266,3,15,0,61,2,57,1,0,0,...,6,0,0,0,468,58,100,5,16,5
89,306,4,30,0,62,0,55,0,2,0,...,5,0,0,0,483,53,100,9,29,1
90,61,0,12,0,75,0,61,0,2,0,...,0,1,0,0,1183,171,64,4,85,17
91,38,0,6,0,50,4,27,0,1,0,...,1,0,0,0,1305,204,66,5,69,7
92,37,0,10,0,71,0,42,0,2,0,...,1,0,0,0,1306,208,64,11,80,11

In [20]:
total_male_students = male_students.sum(axis=1)
overall_total_male = total_male_students.sum()

In [21]:
total_male_students

0     5929
1     6148
2     7600
3     6534
4     7128
      ...
88    3457
89    3574
90    5308
91    4847
92    5049
Length: 93, dtype: int64

In [22]:
overall_total_male

411181

## Non Binary Students

In [23]:
non_binary_students = df_filled[['Asian Non Binary Gender Full Time Freshman Sum',
 'Asian Non Binary Gender Part Time Freshman Sum',
 'Black/African American Non Binary Gender Full Time Freshman Sum',
 'Black/African American Non Binary Gender Part Time Freshman Sum',
 'Foreign Non Binary Gender Full Time Freshman Sum',
 'Foreign Non Binary Gender Part Time Freshman Sum',
 'Native Hawaiian/Other Pacific Islander Non Binary Gender Full Time Freshman Sum',
 'Native Hawaiian/Other Pacific Islander Non Binary Gender Part Time Freshman Sum',
 'Hispanic Non Binary Gender Full Time Freshman Sum',
 'Hispanic Non Binary Gender Part Time Freshman Sum',
 'American Indian/Alaska Native Non Binary Gender Full Time Freshman Sum',
 'American Indian/Alaska Native Non Binary Gender Part Time Freshman Sum',
 'Other Ethnicity Non Binary Gender Full Time Freshman Sum',
 'Other Ethnicity Non Binary Gender Part Time Freshman Sum',
 'White Non Binary Gender Full Time Freshman Sum',
 'White Non Binary Gender Part Time Freshman Sum',
 'Multiracial Non Binary Gender Full Time Freshman Sum',
 'Multiracial Non Binary Gender Part Time Freshman Sum',
 'Unknown Non Binary Gender Full Time Freshman Sum',
 'Unknown Non Binary Gender Part Time Freshman Sum',
 'Asian Non Binary Gender Full Time Sophomore Sum',
 'Asian Non Binary Gender Part Time Sophomore Sum',
 'Black/African American Non Binary Gender Full Time Sophomore Sum',
 'Black/African American Non Binary Gender Part Time Sophomore Sum',
 'Foreign Non Binary Gender Full Time Sophomore Sum',
 'Foreign Non Binary Gender Part Time Sophomore Sum',
 'Native Hawaiian/Other Pacific Islander Non Binary Gender Full Time Sophomore Sum',
 'Native Hawaiian/Other Pacific Islander Non Binary Gender Part Time Sophomore Sum',
 'Hispanic Non Binary Gender Full Time Sophomore Sum',
 'Hispanic Non Binary Gender Part Time Sophomore Sum',
 'American Indian/Alaska Native Non Binary Gender Full Time Sophomore Sum',
 'American Indian/Alaska Native Non Binary Gender Part Time Sophomore Sum',
 'Other Ethnicity Non Binary Gender Full Time Sophomore Sum',
 'Other Ethnicity Non Binary Gender Part Time Sophomore Sum',
 'White Non Binary Gender Full Time Sophomore Sum',
 'White Non Binary Gender Part Time Sophomore Sum',
 'Multiracial Non Binary Gender Full Time Sophomore Sum',
 'Multiracial Non Binary Gender Part Time Sophomore Sum',
 'Unknown Non Binary Gender Full Time Sophomore Sum',
 'Unknown Non Binary Gender Part Time Sophomore Sum',
 'Asian Non Binary Gender Full Time Junior Sum',
 'Asian Non Binary Gender Part Time Junior Sum',
 'Black/African American Non Binary Gender Full Time Junior Sum',
 'Black/African American Non Binary Gender Part Time Junior Sum',
 'Foreign Non Binary Gender Full Time Junior Sum',
 'Foreign Non Binary Gender Part Time Junior Sum',
 'Native Hawaiian/Other Pacific Islander Non Binary Gender Full Time Junior Sum',
 'Native Hawaiian/Other Pacific Islander Non Binary Gender Part Time Junior Sum',
 'Hispanic Non Binary Gender Full Time Junior Sum',
 'Hispanic Non Binary Gender Part Time Junior Sum',
 'American Indian/Alaska Native Non Binary Gender Full Time Junior Sum',
 'American Indian/Alaska Native Non Binary Gender Part Time Junior Sum',
 'Other Ethnicity Non Binary Gender Full Time Junior Sum',
 'Other Ethnicity Non Binary Gender Part Time Junior Sum',
 'White Non Binary Gender Full Time Junior Sum',
 'White Non Binary Gender Part Time Junior Sum',
 'Multiracial Non Binary Gender Full Time Junior Sum',
 'Multiracial Non Binary Gender Part Time Junior Sum',
 'Unknown Non Binary Gender Full Time Junior Sum',
 'Unknown Non Binary Gender Part Time Junior Sum',
 'Asian Non Binary Gender Full Time Senior Sum',
 'Asian Non Binary Gender Part Time Senior Sum',
 'Black/African American Non Binary Gender Full Time Senior Sum',
 'Black/African American Non Binary Gender Part Time Senior Sum',
 'Foreign Non Binary Gender Full Time Senior Sum',
 'Foreign Non Binary Gender Part Time Senior Sum',
 'Native Hawaiian/Other Pacific Islander Non Binary Gender Full Time Senior Sum',
 'Native Hawaiian/Other Pacific Islander Non Binary Gender Part Time Senior Sum',
 'Hispanic Non Binary Gender Full Time Senior Sum',
 'Hispanic Non Binary Gender Part Time Senior Sum',
 'American Indian/Alaska Native Non Binary Gender Full Time Senior Sum',
 'American Indian/Alaska Native Non Binary Gender Part Time Senior Sum',
 'Other Ethnicity Non Binary Gender Full Time Senior Sum',
 'Other Ethnicity Non Binary Gender Part Time Senior Sum',
 'White Non Binary Gender Full Time Senior Sum',
 'White Non Binary Gender Part Time Senior Sum',
 'Multiracial Non Binary Gender Full Time Senior Sum',
 'Multiracial Non Binary Gender Part Time Senior Sum',
 'Unknown Non Binary Gender Full Time Senior Sum',
 'Unknown Non Binary Gender Part Time Senior Sum']]

In [24]:
total_non_binary_students = non_binary_students.sum(axis=1)
overall_total_non_binary = total_non_binary_students.sum()

In [25]:
overall_total_non_binary

94

## Other Gender Students

In [26]:
other_students = df_filled[['Asian Other Gender Full Time Freshman Sum',
 'Asian Other Gender Part Time Freshman Sum',
 'Black/African AmericanOther Gender Full Time Freshman Sum',
 'Black/African AmericanOther Gender Part Time Freshman Sum',
 'Foreign Other Gender Full Time Freshman Sum',
 'Foreign Other Gender Part Time Freshman Sum',
 'Native Hawaiian/Other Pacific Islander Other Gender Full Time Freshman Sum',
 'Native Hawaiian/Other Pacific Islander Other Gender Part Time Freshman Sum',
 'Hispanic Other Gender Full Time Freshman Sum',
 'Hispanic Other Gender Part Time Freshman Sum',
 'American Indian/Alaska Native Other Gender Full Time Freshman Sum',
 'American Indian/Alaska Native Other Gender Part Time Freshman Sum',
 'Other Ethnicity Other Gender Full Time Freshman Sum',
 'Other Ethnicity Other Gender Part Time Freshman Sum',
 'White Other Gender Full Time Freshman Sum',
 'White Other Gender Part Time Freshman Sum',
 'Multiracial Other Gender Full Time Freshman Sum',
 'Multiracial Other Gender Part Time Freshman Sum',
 'Unknown Other Gender Full Time Freshman Sum',
 'Unknown Other Gender Part Time Freshman Sum',
 'Asian Other Gender Full Time Sophomore Sum',
 'Asian Other Gender Part Time Sophomore Sum',
 'Black/African AmericanOther Gender Full Time Sophomore Sum',
 'Black/African AmericanOther Gender Part Time Sophomore Sum',
 'Foreign Other Gender Full Time Sophomore Sum',
 'Foreign Other Gender Part Time Sophomore Sum',
 'Native Hawaiian/Other Pacific Islander Other Gender Full Time Sophomore Sum',
 'Native Hawaiian/Other Pacific Islander Other Gender Part Time Sophomore Sum',
 'Hispanic Other Gender Full Time Sophomore Sum',
 'Hispanic Other Gender Part Time Sophomore Sum',
 'American Indian/Alaska Native Other Gender Full Time Sophomore Sum',
 'American Indian/Alaska Native Other Gender Part Time Sophomore Sum',
 'Other Ethnicity Other Gender Full Time Sophomore Sum',
 'Other Ethnicity Other Gender Part Time Sophomore Sum',
 'White Other Gender Full Time Sophomore Sum',
 'White Other Gender Part Time Sophomore Sum',
 'Multiracial Other Gender Full Time Sophomore Sum',
 'Multiracial Other Gender Part Time Sophomore Sum',
 'Unknown Other Gender Full Time Sophomore Sum',
 'Unknown Other Gender Part Time Sophomore Sum',
 'Asian Other Gender Full Time Junior Sum',
 'Asian Other Gender Part Time Junior Sum',
 'Black/African AmericanOther Gender Full Time Junior Sum',
 'Black/African AmericanOther Gender Part Time Junior Sum',
 'Foreign Other Gender Full Time Junior Sum',
 'Foreign Other Gender Part Time Junior Sum',
 'Native Hawaiian/Other Pacific Islander Other Gender Full Time Junior Sum',
 'Native Hawaiian/Other Pacific Islander Other Gender Part Time Junior Sum',
 'Hispanic Other Gender Full Time Junior Sum',
 'Hispanic Other Gender Part Time Junior Sum',
 'American Indian/Alaska Native Other Gender Full Time Junior Sum',
 'American Indian/Alaska Native Other Gender Part Time Junior Sum',
 'Other Ethnicity Other Gender Full Time Junior Sum',
 'Other Ethnicity Other Gender Part Time Junior Sum',
 'White Other Gender Full Time Junior Sum',
 'White Other Gender Part Time Junior Sum',
 'Multiracial Other Gender Full Time Junior Sum',
 'Multiracial Other Gender Part Time Junior Sum',
 'Unknown Other Gender Full Time Junior Sum',
 'Unknown Other Gender Part Time Junior Sum',
 'Asian Other Gender Full Time Senior Sum',
 'Asian Other Gender Part Time Senior Sum',
 'Black/African AmericanOther Gender Full Time Senior Sum',
 'Black/African AmericanOther Gender Part Time Senior Sum',
 'Foreign Other Gender Full Time Senior Sum',
 'Foreign Other Gender Part Time Senior Sum',
 'Native Hawaiian/Other Pacific Islander Other Gender Full Time Senior Sum',
 'Native Hawaiian/Other Pacific Islander Other Gender Part Time Senior Sum',
 'Hispanic Other Gender Full Time Senior Sum',
 'Hispanic Other Gender Part Time Senior Sum',
 'American Indian/Alaska Native Other Gender Full Time Senior Sum',
 'American Indian/Alaska Native Other Gender Part Time Senior Sum',
 'Other Ethnicity Other Gender Full Time Senior Sum',
 'Other Ethnicity Other Gender Part Time Senior Sum',
 'White Other Gender Full Time Senior Sum',
 'White Other Gender Part Time Senior Sum',
 'Multiracial Other Gender Full Time Senior Sum',
 'Multiracial Other Gender Part Time Senior Sum',
 'Unknown Other Gender Full Time Senior Sum',
 'Unknown Other Gender Part Time Senior Sum']]

In [27]:
total_other_students = other_students.sum(axis=1)
overall_total_other = total_other_students.sum()

In [28]:
overall_total_other

174

## %Female, %Male

In [29]:
percent_female = total_female_students/total_students * 100
percent_male = total_male_students/total_students * 100

In [30]:
percent_female

0     33.968148
1     32.402419
2     33.578046
3     16.144764
4     15.933483
        ...
88    32.625219
89    33.949362
90    25.292048
91    24.513316
92    24.393531
Length: 93, dtype: float64

In [31]:
percent_male

0     66.031852
1     67.597581
2     66.421954
3     83.855236
4     84.066517
        ...
88    67.374781
89    66.050638
90    74.707952
91    75.486684
92    75.606469
Length: 93, dtype: float64

## % Female Freshman, % Male Freshman

In [32]:
female_freshman_students = df_filled[['Asian Female Full Time Freshman Sum',
 'Asian Female Part Time Freshman Sum',
 'Black/African American Female Full Time Freshman Sum',
 'Black/African American Female Part Time Freshman Sum',
 'Foreign Female Full Time Freshman Sum',
 'Foreign Female Part Time Freshman Sum',
 'Hispanic Female Full Time Freshman Sum',
 'Hispanic Female Part Time Freshman Sum',
 'American Indian/Alaska Native Female Full Time Freshman Sum',
 'American Indian/Alaska Native Female Part Time Freshman Sum',
 'Native Hawaiian/Other Pacific Islander Female Full Time Freshman Sum',
 'Native Hawaiian/Other Pacific Islander Female Part Time Freshman Sum',
 'Other Ethnicity Female Full Time Freshman Sum',
 'Other Ethnicity Female Part Time Freshman Sum',
 'White Female Full Time Freshman Sum',
 'White Female Part Time Freshman Sum',
 'Multiracial Female Full Time Freshman Sum',
 'Multiracial Female Part Time Freshman Sum',
 'Unknown Female Full Time Freshman Sum',
 'Unknown Female Part Time Freshman Sum',]]

male_freshman_students = df_filled[['Asian Male Full Time Freshman Sum',
 'Asian Male Part Time Freshman Sum',
 'Black/African American Male Full Time Freshman Sum',
 'Black/African American Male Part Time Freshman Sum',
 'Foreign Male Full Time Freshman Sum',
 'Foreign Male Part Time Freshman Sum',
 'Hispanic Male Full Time Freshman Sum',
 'Hispanic Male Part Time Freshman Sum',
 'American Indian/Alaska Native Male Full Time Freshman Sum',
 'American Indian/Alaska Native Male Part Time Freshman Sum',
 'Native Hawaiian/Other Pacific Islander Male Full Time Freshman Sum',
 'Native Hawaiian/Other Pacific Islander Male Part Time Freshman Sum',
 'Other Ethnicity Male Full Time Freshman Sum',
 'Other Ethnicity Male Part Time Freshman Sum',
 'White Male Full Time Freshman Sum',
 'White Male Part Time Freshman Sum',
 'Multiracial Male Full Time Freshman Sum',
 'Multiracial Male Part Time Freshman Sum',
 'Unknown Male Full Time Freshman Sum',
 'Unknown Male Part Time Freshman Sum']]

total_freshman_female_students = female_freshman_students.sum(axis=1)
total_freshman_male_students = male_freshman_students.sum(axis=1)
total_freshman = total_freshman_female_students+total_freshman_male_students

percent_freshman_female = total_freshman_female_students/total_students * 100
percent_freshman_male = total_freshman_male_students/total_students * 100

In [33]:
total_freshman_female_students

0     525
1     230
2     507
3     284
4     249
     ...
88    406
89    479
90    267
91    165
92    196
Length: 93, dtype: int64

In [34]:
total_freshman_male_students

0      917
1      380
2      842
3     1635
4     1451
      ...
88     730
89     806
90     591
91     466
92     495
Length: 93, dtype: int64

In [35]:
percent_freshman_female

0     5.846976
1     2.528862
2     4.431044
3     3.644764
4     2.936667
        ...
88    7.912688
89    8.852338
90    3.757917
91    2.569693
92    2.935010
Length: 93, dtype: float64

In [36]:
percent_freshman_male

0     10.212719
1      4.178120
2      7.358853
3     20.983060
4     17.112867
        ...
88    14.227246
89    14.895583
90     8.318086
91     7.257437
92     7.412399
Length: 93, dtype: float64

## %Asian Student

In [37]:
asian_students = df_filled[['Asian Female Full Time Freshman Sum',
 'Asian Female Part Time Freshman Sum',
 'Asian Male Full Time Freshman Sum',
 'Asian Male Part Time Freshman Sum',
 'Asian Non Binary Gender Full Time Freshman Sum',
 'Asian Non Binary Gender Part Time Freshman Sum',
 'Asian Other Gender Full Time Freshman Sum',
 'Asian Other Gender Part Time Freshman Sum',
 'Asian Female Full Time Sophomore Sum',
 'Asian Female Part Time Sophomore Sum',
 'Asian Male Full Time Sophomore Sum',
 'Asian Male Part Time Sophomore Sum',
 'Asian Non Binary Gender Full Time Sophomore Sum',
 'Asian Non Binary Gender Part Time Sophomore Sum',
 'Asian Other Gender Full Time Sophomore Sum',
 'Asian Other Gender Part Time Sophomore Sum',
 'Asian Female Full Time Junior Sum',
 'Asian Female Part Time Junior Sum',
 'Asian Male Full Time Junior Sum',
 'Asian Male Part Time Junior Sum',
 'Asian Non Binary Gender Full Time Junior Sum',
 'Asian Non Binary Gender Part Time Junior Sum',
 'Asian Other Gender Full Time Junior Sum',
 'Asian Other Gender Part Time Junior Sum',
 'Asian Female Full Time Senior Sum',
 'Asian Female Part Time Senior Sum',
 'Asian Male Full Time Senior Sum',
 'Asian Male Part Time Senior Sum',
 'Asian Non Binary Gender Full Time Senior Sum',
 'Asian Non Binary Gender Part Time Senior Sum',
 'Asian Other Gender Full Time Senior Sum',
 'Asian Other Gender Part Time Senior Sum'
]]
total_asian_students = asian_students.sum(axis=1)

percent_asian = total_asian_students/total_students * 100

In [38]:
percent_asian

0     27.909567
1     30.467290
2     26.175494
3      6.904517
4      5.932303
        ...
88    32.956539
89    36.481242
90    12.836031
91     9.577947
92    11.305780
Length: 93, dtype: float64

In [39]:
total_asian_students

0     2506
1     2771
2     2995
3      538
4      503
      ...
88    1691
89    1974
90     912
91     615
92     755
Length: 93, dtype: int64

## % Black/African American Students

In [40]:
black_african_students = df_filled[['Black/African American Female Full Time Freshman Sum',
 'Black/African American Female Part Time Freshman Sum',
 'Black/African American Male Full Time Freshman Sum',
 'Black/African American Male Part Time Freshman Sum',
 'Black/African American Non Binary Gender Full Time Freshman Sum',
 'Black/African American Non Binary Gender Part Time Freshman Sum',
 'Black/African AmericanOther Gender Full Time Freshman Sum',
 'Black/African AmericanOther Gender Part Time Freshman Sum',
 'Black/African American Female Full Time Sophomore Sum',
 'Black/African American Female Part Time Sophomore Sum',
 'Black/African American Male Full Time Sophomore Sum',
 'Black/African American Male Part Time Sophomore Sum',
 'Black/African American Non Binary Gender Full Time Sophomore Sum',
 'Black/African American Non Binary Gender Part Time Sophomore Sum',
 'Black/African AmericanOther Gender Full Time Sophomore Sum',
 'Black/African AmericanOther Gender Part Time Sophomore Sum',
 'Black/African American Female Full Time Junior Sum',
 'Black/African American Female Part Time Junior Sum',
 'Black/African American Male Full Time Junior Sum',
 'Black/African American Male Part Time Junior Sum',
 'Black/African American Non Binary Gender Full Time Junior Sum',
 'Black/African American Non Binary Gender Part Time Junior Sum',
 'Black/African AmericanOther Gender Full Time Junior Sum',
 'Black/African AmericanOther Gender Part Time Junior Sum',
 'Black/African American Female Full Time Senior Sum',
 'Black/African American Female Part Time Senior Sum',
 'Black/African American Male Full Time Senior Sum',
 'Black/African American Male Part Time Senior Sum',
 'Black/African American Non Binary Gender Full Time Senior Sum',
 'Black/African American Non Binary Gender Part Time Senior Sum',
 'Black/African AmericanOther Gender Full Time Senior Sum',
 'Black/African AmericanOther Gender Part Time Senior Sum',
 ]]

total_black_african_students = black_african_students.sum(axis=1)

percent_black_african = total_black_african_students/total_students * 100

In [41]:
percent_black_african

0     7.127743
1     7.102804
2     6.511099
3     2.438398
4     2.335181
        ...
88    2.065874
89    2.457956
90    1.238564
91    1.277060
92    1.197963
Length: 93, dtype: float64

In [42]:
total_black_african_students

0     640
1     646
2     745
3     190
4     198
     ...
88    106
89    133
90     88
91     82
92     80
Length: 93, dtype: int64

## % Foreign Students

In [43]:
foreign_students = df_filled[['Foreign Female Full Time Freshman Sum',
 'Foreign Female Part Time Freshman Sum',
 'Foreign Male Full Time Freshman Sum',
 'Foreign Male Part Time Freshman Sum',
 'Foreign Non Binary Gender Full Time Freshman Sum',
 'Foreign Non Binary Gender Part Time Freshman Sum',
 'Foreign Other Gender Full Time Freshman Sum',
 'Foreign Other Gender Part Time Freshman Sum',
 'Foreign Female Full Time Sophomore Sum',
 'Foreign Female Part Time Sophomore Sum',
 'Foreign Male Full Time Sophomore Sum',
 'Foreign Male Part Time Sophomore Sum',
 'Foreign Non Binary Gender Full Time Sophomore Sum',
 'Foreign Non Binary Gender Part Time Sophomore Sum',
 'Foreign Other Gender Full Time Sophomore Sum',
 'Foreign Other Gender Part Time Sophomore Sum',
 'Foreign Female Full Time Junior Sum',
 'Foreign Female Part Time Junior Sum',
 'Foreign Male Full Time Junior Sum',
 'Foreign Male Part Time Junior Sum',
 'Foreign Non Binary Gender Full Time Junior Sum',
 'Foreign Non Binary Gender Part Time Junior Sum',
 'Foreign Other Gender Full Time Junior Sum',
 'Foreign Other Gender Part Time Junior Sum',
 'Foreign Female Full Time Senior Sum',
 'Foreign Female Part Time Senior Sum',
 'Foreign Male Full Time Senior Sum',
 'Foreign Male Part Time Senior Sum',
 'Foreign Non Binary Gender Full Time Senior Sum',
 'Foreign Non Binary Gender Part Time Senior Sum',
 'Foreign Other Gender Full Time Senior Sum',
 'Foreign Other Gender Part Time Senior Sum'
 ]]

total_foreign_students = foreign_students.sum(axis=1)

percent_foreign = total_foreign_students/total_students * 100

In [44]:
percent_foreign

0     12.429001
1     12.556350
2     10.959622
3      5.364476
4      6.463026
        ...
88    13.545118
89    11.310294
90    17.241379
91    16.741941
92    16.052710
Length: 93, dtype: float64

In [45]:
total_foreign_students

0     1116
1     1142
2     1254
3      418
4      548
      ...
88     695
89     612
90    1225
91    1075
92    1072
Length: 93, dtype: int64

## % Hispanic Students

In [46]:
hispanic_students = df_filled[['Hispanic Female Full Time Freshman Sum',
 'Hispanic Female Part Time Freshman Sum',
 'Hispanic Male Full Time Freshman Sum',
 'Hispanic Male Part Time Freshman Sum',
 'Hispanic Non Binary Gender Full Time Freshman Sum',
 'Hispanic Non Binary Gender Part Time Freshman Sum',
 'Hispanic Other Gender Full Time Freshman Sum',
 'Hispanic Other Gender Part Time Freshman Sum',
 'Hispanic Female Full Time Sophomore Sum',
 'Hispanic Female Part Time Sophomore Sum',
 'Hispanic Male Full Time Sophomore Sum',
 'Hispanic Male Part Time Sophomore Sum',
 'Hispanic Non Binary Gender Full Time Sophomore Sum',
 'Hispanic Non Binary Gender Part Time Sophomore Sum',
 'Hispanic Other Gender Full Time Sophomore Sum',
 'Hispanic Other Gender Part Time Sophomore Sum',
 'Hispanic Female Full Time Junior Sum',
 'Hispanic Female Part Time Junior Sum',
 'Hispanic Male Full Time Junior Sum',
 'Hispanic Male Part Time Junior Sum',
 'Hispanic Non Binary Gender Full Time Junior Sum',
 'Hispanic Non Binary Gender Part Time Junior Sum',
 'Hispanic Other Gender Full Time Junior Sum',
 'Hispanic Other Gender Part Time Junior Sum',
 'Hispanic Female Full Time Senior Sum',
 'Hispanic Female Part Time Senior Sum',
 'Hispanic Male Full Time Senior Sum',
 'Hispanic Male Part Time Senior Sum',
 'Hispanic Non Binary Gender Full Time Senior Sum',
 'Hispanic Non Binary Gender Part Time Senior Sum',
 'Hispanic Other Gender Full Time Senior Sum',
 'Hispanic Other Gender Part Time Senior Sum'
 ]]

total_hispanic_students = hispanic_students.sum(axis=1)

percent_hispanic = total_hispanic_students/total_students * 100

In [47]:
percent_hispanic

0     7.706872
1     8.312259
2     7.551127
3     6.237166
4     5.649251
        ...
88    6.431495
89    6.320458
90    4.897959
91    4.220526
92    4.327643
Length: 93, dtype: float64

In [48]:
total_hispanic_students

0     692
1     756
2     864
3     486
4     479
     ...
88    330
89    342
90    348
91    271
92    289
Length: 93, dtype: int64

## % American Indian/Alaska Native Students

In [49]:
american_alaska_students = df_filled[['American Indian/Alaska Native Female Full Time Freshman Sum',
 'American Indian/Alaska Native Female Part Time Freshman Sum',
 'American Indian/Alaska Native Male Full Time Freshman Sum',
 'American Indian/Alaska Native Male Part Time Freshman Sum',
 'American Indian/Alaska Native Non Binary Gender Full Time Freshman Sum',
 'American Indian/Alaska Native Non Binary Gender Part Time Freshman Sum',
 'American Indian/Alaska Native Other Gender Full Time Freshman Sum',
 'American Indian/Alaska Native Other Gender Part Time Freshman Sum',
 'American Indian/Alaska Native Female Full Time Junior Sum',
 'American Indian/Alaska Native Female Part Time Junior Sum',
 'American Indian/Alaska Native Male Full Time Junior Sum',
 'American Indian/Alaska Native Male Part Time Junior Sum',
 'American Indian/Alaska Native Non Binary Gender Full Time Junior Sum',
 'American Indian/Alaska Native Non Binary Gender Part Time Junior Sum',
 'American Indian/Alaska Native Other Gender Full Time Junior Sum',
 'American Indian/Alaska Native Other Gender Part Time Junior Sum',
 'American Indian/Alaska Native Female Full Time Sophomore Sum',
 'American Indian/Alaska Native Female Part Time Sophomore Sum',
 'American Indian/Alaska Native Male Full Time Sophomore Sum',
 'American Indian/Alaska Native Male Part Time Sophomore Sum',
 'American Indian/Alaska Native Non Binary Gender Full Time Sophomore Sum',
 'American Indian/Alaska Native Non Binary Gender Part Time Sophomore Sum',
 'American Indian/Alaska Native Other Gender Full Time Sophomore Sum',
 'American Indian/Alaska Native Other Gender Part Time Sophomore Sum',
 'American Indian/Alaska Native Female Full Time Senior Sum',
 'American Indian/Alaska Native Female Part Time Senior Sum',
 'American Indian/Alaska Native Male Full Time Senior Sum',
 'American Indian/Alaska Native Male Part Time Senior Sum',
 'American Indian/Alaska Native Non Binary Gender Full Time Senior Sum',
 'American Indian/Alaska Native Non Binary Gender Part Time Senior Sum',
 'American Indian/Alaska Native Other Gender Full Time Senior Sum',
 'American Indian/Alaska Native Other Gender Part Time Senior Sum'
 ]]

total_american_alaska_students = american_alaska_students.sum(axis=1)

percent_american_alaska = total_american_alaska_students/total_students * 100

In [50]:
percent_american_alaska

0     0.066823
1     0.043980
2     0.052438
3     0.192505
4     0.200495
        ...
88    0.038979
89    0.073923
90    0.084448
91    0.327052
92    0.104822
Length: 93, dtype: float64

In [51]:
total_american_alaska_students

0      6
1      4
2      6
3     15
4     17
      ..
88     2
89     4
90     6
91    21
92     7
Length: 93, dtype: int64

## % Native Hawaiian/Other Pacific Islander Students

In [52]:
native_other_students = df_filled[['Native Hawaiian/Other Pacific Islander Female Full Time Freshman Sum',
 'Native Hawaiian/Other Pacific Islander Female Part Time Freshman Sum',
 'Native Hawaiian/Other Pacific Islander Male Full Time Freshman Sum',
 'Native Hawaiian/Other Pacific Islander Male Part Time Freshman Sum',
 'Native Hawaiian/Other Pacific Islander Non Binary Gender Full Time Freshman Sum',
 'Native Hawaiian/Other Pacific Islander Non Binary Gender Part Time Freshman Sum',
 'Native Hawaiian/Other Pacific Islander Other Gender Full Time Freshman Sum',
 'Native Hawaiian/Other Pacific Islander Other Gender Part Time Freshman Sum',
 'Native Hawaiian/Other Pacific Islander Female Full Time Junior Sum',
 'Native Hawaiian/Other Pacific Islander Female Part Time Junior Sum',
 'Native Hawaiian/Other Pacific Islander Male Full Time Junior Sum',
 'Native Hawaiian/Other Pacific Islander Male Part Time Junior Sum',
 'Native Hawaiian/Other Pacific Islander Non Binary Gender Full Time Junior Sum',
 'Native Hawaiian/Other Pacific Islander Non Binary Gender Part Time Junior Sum',
 'Native Hawaiian/Other Pacific Islander Other Gender Full Time Junior Sum',
 'Native Hawaiian/Other Pacific Islander Other Gender Part Time Junior Sum',
 'Native Hawaiian/Other Pacific Islander Female Full Time Sophomore Sum',
 'Native Hawaiian/Other Pacific Islander Female Part Time Sophomore Sum',
 'Native Hawaiian/Other Pacific Islander Male Full Time Sophomore Sum',
 'Native Hawaiian/Other Pacific Islander Male Part Time Sophomore Sum',
 'Native Hawaiian/Other Pacific Islander Non Binary Gender Full Time Sophomore Sum',
 'Native Hawaiian/Other Pacific Islander Non Binary Gender Part Time Sophomore Sum',
 'Native Hawaiian/Other Pacific Islander Other Gender Full Time Sophomore Sum',
 'Native Hawaiian/Other Pacific Islander Other Gender Part Time Sophomore Sum',
 'Native Hawaiian/Other Pacific Islander Female Full Time Senior Sum',
 'Native Hawaiian/Other Pacific Islander Female Part Time Senior Sum',
 'Native Hawaiian/Other Pacific Islander Male Full Time Senior Sum',
 'Native Hawaiian/Other Pacific Islander Male Part Time Senior Sum',
 'Native Hawaiian/Other Pacific Islander Non Binary Gender Full Time Senior Sum',
 'Native Hawaiian/Other Pacific Islander Non Binary Gender Part Time Senior Sum',
 'Native Hawaiian/Other Pacific Islander Other Gender Full Time Senior Sum',
 'Native Hawaiian/Other Pacific Islander Other Gender Part Time Senior Sum'
 ]]
total_native_other_students = native_other_students.sum(axis=1)

percent_native_other = total_native_other_students/total_students * 100

In [53]:
percent_native_other

0     0.011137
1     0.175921
2     0.008740
3     0.051335
4     0.058969
        ...
88    0.292341
89    0.240251
90    0.028149
91    0.015574
92    0.014975
Length: 93, dtype: float64

In [54]:
total_native_other_students

0      1
1     16
2      1
3      4
4      5
      ..
88    15
89    13
90     2
91     1
92     1
Length: 93, dtype: int64

## % Other Ethnicity Students

In [55]:
other_eth_students = df_filled[['Other Ethnicity Female Full Time Freshman Sum',
 'Other Ethnicity Female Part Time Freshman Sum',
 'Other Ethnicity Male Full Time Freshman Sum',
 'Other Ethnicity Male Part Time Freshman Sum',
 'Other Ethnicity Non Binary Gender Full Time Freshman Sum',
 'Other Ethnicity Non Binary Gender Part Time Freshman Sum',
 'Other Ethnicity Other Gender Full Time Freshman Sum',
 'Other Ethnicity Other Gender Part Time Freshman Sum',
 'Other Ethnicity Female Full Time Sophomore Sum',
 'Other Ethnicity Female Part Time Sophomore Sum',
 'Other Ethnicity Male Full Time Sophomore Sum',
 'Other Ethnicity Male Part Time Sophomore Sum',
 'Other Ethnicity Non Binary Gender Full Time Sophomore Sum',
 'Other Ethnicity Non Binary Gender Part Time Sophomore Sum',
 'Other Ethnicity Other Gender Full Time Sophomore Sum',
 'Other Ethnicity Other Gender Part Time Sophomore Sum',
 'Other Ethnicity Female Full Time Junior Sum',
 'Other Ethnicity Female Part Time Junior Sum',
 'Other Ethnicity Male Full Time Junior Sum',
 'Other Ethnicity Male Part Time Junior Sum',
 'Other Ethnicity Non Binary Gender Full Time Junior Sum',
 'Other Ethnicity Non Binary Gender Part Time Junior Sum',
 'Other Ethnicity Other Gender Full Time Junior Sum',
 'Other Ethnicity Other Gender Part Time Junior Sum',
 'Other Ethnicity Female Full Time Senior Sum',
 'Other Ethnicity Female Part Time Senior Sum',
 'Other Ethnicity Male Full Time Senior Sum',
 'Other Ethnicity Male Part Time Senior Sum',
 'Other Ethnicity Non Binary Gender Full Time Senior Sum',
 'Other Ethnicity Non Binary Gender Part Time Senior Sum',
 'Other Ethnicity Other Gender Full Time Senior Sum',
 'Other Ethnicity Other Gender Part Time Senior Sum',
 ]]
total_other_eth_students = other_eth_students.sum(axis=1)

percent_other_eth = total_other_eth_students/total_students * 100

In [56]:
percent_other_eth

0     0.0
1     0.0
2     0.0
3     0.0
4     0.0
     ...
88    0.0
89    0.0
90    0.0
91    0.0
92    0.0
Length: 93, dtype: float64

In [57]:
total_other_eth_students

0     0
1     0
2     0
3     0
4     0
     ..
88    0
89    0
90    0
91    0
92    0
Length: 93, dtype: int64

## % White Students

In [58]:
white_students = df_filled[['White Female Full Time Freshman Sum',
 'White Female Part Time Freshman Sum',
 'White Male Full Time Freshman Sum',
 'White Male Part Time Freshman Sum',
 'White Non Binary Gender Full Time Freshman Sum',
 'White Non Binary Gender Part Time Freshman Sum',
 'White Other Gender Full Time Freshman Sum',
 'White Other Gender Part Time Freshman Sum',
 'White Female Full Time Sophomore Sum',
 'White Female Part Time Sophomore Sum',
 'White Male Full Time Sophomore Sum',
 'White Male Part Time Sophomore Sum',
 'White Non Binary Gender Full Time Sophomore Sum',
 'White Non Binary Gender Part Time Sophomore Sum',
 'White Other Gender Full Time Sophomore Sum',
 'White Other Gender Part Time Sophomore Sum',
 'White Female Full Time Junior Sum',
 'White Female Part Time Junior Sum',
 'White Male Full Time Junior Sum',
 'White Male Part Time Junior Sum',
 'White Non Binary Gender Full Time Junior Sum',
 'White Non Binary Gender Part Time Junior Sum',
 'White Other Gender Full Time Junior Sum',
 'White Other Gender Part Time Junior Sum',
 'White Female Full Time Senior Sum',
 'White Female Part Time Senior Sum',
 'White Male Full Time Senior Sum',
 'White Male Part Time Senior Sum',
 'White Non Binary Gender Full Time Senior Sum',
 'White Non Binary Gender Part Time Senior Sum',
 'White Other Gender Full Time Senior Sum',
 'White Other Gender Part Time Senior Sum'
 ]]
total_white_students = white_students.sum(axis=1)

percent_white = total_white_students/total_students * 100

In [59]:
percent_white

0     39.258269
1     36.206707
2     42.676106
3     72.856776
4     73.051067
        ...
88    34.827519
89    32.618740
90    55.397607
91    61.267715
92    59.149446
Length: 93, dtype: float64

In [60]:
total_white_students

0     3525
1     3293
2     4883
3     5677
4     6194
      ...
88    1787
89    1765
90    3936
91    3934
92    3950
Length: 93, dtype: int64

## % Multiracial Students

In [61]:
multiracial_students = df_filled[['Multiracial Female Full Time Freshman Sum',
 'Multiracial Female Part Time Freshman Sum',
 'Multiracial Male Full Time Freshman Sum',
 'Multiracial Male Part Time Freshman Sum',
 'Multiracial Non Binary Gender Full Time Freshman Sum',
 'Multiracial Non Binary Gender Part Time Freshman Sum',
 'Multiracial Other Gender Full Time Freshman Sum',
 'Multiracial Other Gender Part Time Freshman Sum',
 'Multiracial Female Full Time Sophomore Sum',
 'Multiracial Female Part Time Sophomore Sum',
 'Multiracial Male Full Time Sophomore Sum',
 'Multiracial Male Part Time Sophomore Sum',
 'Multiracial Non Binary Gender Full Time Sophomore Sum',
 'Multiracial Non Binary Gender Part Time Sophomore Sum',
 'Multiracial Other Gender Full Time Sophomore Sum',
 'Multiracial Other Gender Part Time Sophomore Sum',
 'Multiracial Female Full Time Junior Sum',
 'Multiracial Female Part Time Junior Sum',
 'Multiracial Male Full Time Junior Sum',
 'Multiracial Male Part Time Junior Sum',
 'Multiracial Non Binary Gender Full Time Junior Sum',
 'Multiracial Non Binary Gender Part Time Junior Sum',
 'Multiracial Other Gender Full Time Junior Sum',
 'Multiracial Other Gender Part Time Junior Sum',
 'Multiracial Female Full Time Senior Sum',
 'Multiracial Female Part Time Senior Sum',
 'Multiracial Male Full Time Senior Sum',
 'Multiracial Male Part Time Senior Sum',
 'Multiracial Non Binary Gender Full Time Senior Sum',
 'Multiracial Non Binary Gender Part Time Senior Sum',
 'Multiracial Other Gender Full Time Senior Sum',
 'Multiracial Other Gender Part Time Senior Sum'
 ]]
total_multiracial_students = multiracial_students.sum(axis=1)

percent_multiracial = total_multiracial_students/total_students * 100

In [62]:
percent_multiracial

0     4.087315
1     4.046179
2     4.238769
3     2.990246
4     2.688996
        ...
88    7.873709
89    7.872852
90    3.476425
91    3.301666
92    3.803534
Length: 93, dtype: float64

In [63]:
total_multiracial_students

0     367
1     368
2     485
3     233
4     228
     ...
88    404
89    426
90    247
91    212
92    254
Length: 93, dtype: int64

## % Unknown Students

In [64]:
unknown_students = df_filled[['Unknown Female Full Time Freshman Sum',
 'Unknown Female Part Time Freshman Sum',
 'Unknown Male Full Time Freshman Sum',
 'Unknown Male Part Time Freshman Sum',
 'Unknown Non Binary Gender Full Time Freshman Sum',
 'Unknown Non Binary Gender Part Time Freshman Sum',
 'Unknown Other Gender Full Time Freshman Sum',
 'Unknown Other Gender Part Time Freshman Sum',
 'Unknown Female Full Time Sophomore Sum',
 'Unknown Female Part Time Sophomore Sum',
 'Unknown Male Full Time Sophomore Sum',
 'Unknown Male Part Time Sophomore Sum',
 'Unknown Non Binary Gender Full Time Sophomore Sum',
 'Unknown Non Binary Gender Part Time Sophomore Sum',
 'Unknown Other Gender Full Time Sophomore Sum',
 'Unknown Other Gender Part Time Freshman Sum',
 'Unknown Female Full Time Junior Sum',
 'Unknown Female Part Time Junior Sum',
 'Unknown Male Full Time Junior Sum',
 'Unknown Male Part Time Junior Sum',
 'Unknown Non Binary Gender Full Time Junior Sum',
 'Unknown Non Binary Gender Part Time Junior Sum',
 'Unknown Other Gender Full Time Junior Sum',
 'Unknown Other Gender Part Time Junior Sum',
 'Unknown Female Full Time Senior Sum',
 'Unknown Female Part Time Senior Sum',
 'Unknown Male Full Time Senior Sum',
 'Unknown Male Part Time Senior Sum',
 'Unknown Non Binary Gender Full Time Senior Sum',
 'Unknown Non Binary Gender Part Time Senior Sum',
 'Unknown Other Gender Full Time Senior Sum',
 'Unknown Other Gender Part Time Senior Sum'
 ]]
total_unknown_students = unknown_students.sum(axis=1)

percent_unknown = total_unknown_students/total_students * 100

In [65]:
percent_unknown

0     1.403274
1     1.088510
2     1.826604
3     2.964579
4     3.620710
        ...
88    1.968427
89    2.624284
90    4.799437
91    3.270519
92    4.043127
Length: 93, dtype: float64

In [66]:
total_unknown_students

0     126
1      99
2     209
3     231
4     307
     ...
88    101
89    142
90    341
91    210
92    270
Length: 93, dtype: int64

## % URM Freshman Students

In [67]:
urm_freshman_students = df_filled[['Black/African American Female Full Time Freshman Sum',
 'Black/African American Female Part Time Freshman Sum',
 'Hispanic Female Full Time Freshman Sum',
 'Hispanic Female Part Time Freshman Sum',
 'American Indian/Alaska Native Female Full Time Freshman Sum',
 'American Indian/Alaska Native Female Part Time Freshman Sum',
 'Native Hawaiian/Other Pacific Islander Female Full Time Freshman Sum',
 'Native Hawaiian/Other Pacific Islander Female Part Time Freshman Sum',
 'Black/African American Male Full Time Freshman Sum',
 'Black/African American Male Part Time Freshman Sum',
 'Hispanic Male Full Time Freshman Sum',
 'Hispanic Male Part Time Freshman Sum',
 'American Indian/Alaska Native Male Full Time Freshman Sum',
 'American Indian/Alaska Native Male Part Time Freshman Sum',
 'Native Hawaiian/Other Pacific Islander Male Full Time Freshman Sum',
 'Native Hawaiian/Other Pacific Islander Male Part Time Freshman Sum',
 'Black/African American Non Binary Gender Full Time Freshman Sum',
 'Black/African American Non Binary Gender Part Time Freshman Sum',
 'Hispanic Non Binary Gender Full Time Freshman Sum',
 'Hispanic Non Binary Gender Part Time Freshman Sum',
 'American Indian/Alaska Native Non Binary Gender Full Time Freshman Sum',
 'American Indian/Alaska Native Non Binary Gender Part Time Freshman Sum',
 'Native Hawaiian/Other Pacific Islander Non Binary Gender Full Time Freshman Sum',
 'Native Hawaiian/Other Pacific Islander Non Binary Gender Part Time Freshman Sum',
 'Black/African AmericanOther Gender Full Time Freshman Sum',
 'Black/African AmericanOther Gender Part Time Freshman Sum',
 'Hispanic Other Gender Full Time Freshman Sum',
 'Hispanic Other Gender Part Time Freshman Sum',
 'American Indian/Alaska Native Other Gender Full Time Freshman Sum',
 'American Indian/Alaska Native Other Gender Part Time Freshman Sum',
 'Native Hawaiian/Other Pacific Islander Other Gender Full Time Freshman Sum',
 'Native Hawaiian/Other Pacific Islander Other Gender Part Time Freshman Sum'
 ]]
total_urm_freshman_students = urm_freshman_students.sum(axis=1)

percent_urm_freshman = total_urm_freshman_students/total_freshman * 100

In [68]:
percent_urm_freshman

0     20.735090
1     33.278689
2     18.087472
3      9.431996
4      9.764706
        ...
88    10.563380
89    10.194553
90    12.587413
91     8.874802
92    10.998553
Length: 93, dtype: float64

In [69]:
total_urm_freshman_students

0     299
1     203
2     244
3     181
4     166
     ...
88    120
89    131
90    108
91     56
92     76
Length: 93, dtype: int64

## % URM Students

In [70]:
urm_students = df_filled[['Black/African American Female Full Time Freshman Sum',
 'Black/African American Female Part Time Freshman Sum',
 'Hispanic Female Full Time Freshman Sum',
 'Hispanic Female Part Time Freshman Sum',
 'American Indian/Alaska Native Female Full Time Freshman Sum',
 'American Indian/Alaska Native Female Part Time Freshman Sum',
 'Native Hawaiian/Other Pacific Islander Female Full Time Freshman Sum',
 'Native Hawaiian/Other Pacific Islander Female Part Time Freshman Sum',
 'Black/African American Male Full Time Freshman Sum',
 'Black/African American Male Part Time Freshman Sum',
 'Hispanic Male Full Time Freshman Sum',
 'Hispanic Male Part Time Freshman Sum',
 'American Indian/Alaska Native Male Full Time Freshman Sum',
 'American Indian/Alaska Native Male Part Time Freshman Sum',
 'Native Hawaiian/Other Pacific Islander Male Full Time Freshman Sum',
 'Native Hawaiian/Other Pacific Islander Male Part Time Freshman Sum',
 'Black/African American Non Binary Gender Full Time Freshman Sum',
 'Black/African American Non Binary Gender Part Time Freshman Sum',
 'Hispanic Non Binary Gender Full Time Freshman Sum',
 'Hispanic Non Binary Gender Part Time Freshman Sum',
 'American Indian/Alaska Native Non Binary Gender Full Time Freshman Sum',
 'American Indian/Alaska Native Non Binary Gender Part Time Freshman Sum',
 'Native Hawaiian/Other Pacific Islander Non Binary Gender Full Time Freshman Sum',
 'Native Hawaiian/Other Pacific Islander Non Binary Gender Part Time Freshman Sum',
 'Black/African AmericanOther Gender Full Time Freshman Sum',
 'Black/African AmericanOther Gender Part Time Freshman Sum',
 'Hispanic Other Gender Full Time Freshman Sum',
 'Hispanic Other Gender Part Time Freshman Sum',
 'American Indian/Alaska Native Other Gender Full Time Freshman Sum',
 'American Indian/Alaska Native Other Gender Part Time Freshman Sum',
 'Native Hawaiian/Other Pacific Islander Other Gender Full Time Freshman Sum',
 'Native Hawaiian/Other Pacific Islander Other Gender Part Time Freshman Sum',
 'Black/African American Female Full Time Sophomore Sum',
 'Black/African American Female Part Time Sophomore Sum',
 'Hispanic Female Full Time Sophomore Sum',
 'Hispanic Female Part Time Sophomore Sum',
 'American Indian/Alaska Native Female Full Time Sophomore Sum',
 'American Indian/Alaska Native Female Part Time Sophomore Sum',
 'Native Hawaiian/Other Pacific Islander Female Full Time Sophomore Sum',
 'Native Hawaiian/Other Pacific Islander Female Part Time Sophomore Sum',
 'Black/African American Male Full Time Sophomore Sum',
 'Black/African American Male Part Time Sophomore Sum',
 'Hispanic Male Full Time Sophomore Sum',
 'Hispanic Male Part Time Sophomore Sum',
 'American Indian/Alaska Native Male Full Time Sophomore Sum',
 'American Indian/Alaska Native Male Part Time Sophomore Sum',
 'Native Hawaiian/Other Pacific Islander Male Full Time Sophomore Sum',
 'Native Hawaiian/Other Pacific Islander Male Part Time Sophomore Sum',
 'Black/African American Non Binary Gender Full Time Sophomore Sum',
 'Black/African American Non Binary Gender Part Time Sophomore Sum',
 'Hispanic Non Binary Gender Full Time Sophomore Sum',
 'Hispanic Non Binary Gender Part Time Sophomore Sum',
 'American Indian/Alaska Native Non Binary Gender Full Time Sophomore Sum',
 'American Indian/Alaska Native Non Binary Gender Part Time Sophomore Sum',
 'Native Hawaiian/Other Pacific Islander Non Binary Gender Full Time Sophomore Sum',
 'Native Hawaiian/Other Pacific Islander Non Binary Gender Part Time Sophomore Sum',
 'Black/African AmericanOther Gender Full Time Sophomore Sum',
 'Black/African AmericanOther Gender Part Time Sophomore Sum',
 'Hispanic Other Gender Full Time Sophomore Sum',
 'Hispanic Other Gender Part Time Sophomore Sum',
 'American Indian/Alaska Native Other Gender Full Time Sophomore Sum',
 'American Indian/Alaska Native Other Gender Part Time Sophomore Sum',
 'Native Hawaiian/Other Pacific Islander Other Gender Full Time Sophomore Sum',
 'Native Hawaiian/Other Pacific Islander Other Gender Part Time Sophomore Sum',
 'Black/African American Female Full Time Junior Sum',
 'Black/African American Female Part Time Junior Sum',
 'Hispanic Female Full Time Junior Sum',
 'Hispanic Female Part Time Junior Sum',
 'American Indian/Alaska Native Female Full Time Junior Sum',
 'American Indian/Alaska Native Female Part Time Junior Sum',
 'Native Hawaiian/Other Pacific Islander Female Full Time Junior Sum',
 'Native Hawaiian/Other Pacific Islander Female Part Time Junior Sum',
 'Black/African American Male Full Time Junior Sum',
 'Black/African American Male Part Time Junior Sum',
 'Hispanic Male Full Time Junior Sum',
 'Hispanic Male Part Time Junior Sum',
 'American Indian/Alaska Native Male Full Time Junior Sum',
 'American Indian/Alaska Native Male Part Time Junior Sum',
 'Native Hawaiian/Other Pacific Islander Male Full Time Junior Sum',
 'Native Hawaiian/Other Pacific Islander Male Part Time Junior Sum',
 'Black/African American Non Binary Gender Full Time Junior Sum',
 'Black/African American Non Binary Gender Part Time Junior Sum',
 'Hispanic Non Binary Gender Full Time Junior Sum',
 'Hispanic Non Binary Gender Part Time Junior Sum',
 'American Indian/Alaska Native Non Binary Gender Full Time Junior Sum',
 'American Indian/Alaska Native Non Binary Gender Part Time Junior Sum',
 'Native Hawaiian/Other Pacific Islander Non Binary Gender Full Time Junior Sum',
 'Native Hawaiian/Other Pacific Islander Non Binary Gender Part Time Junior Sum',
 'Black/African AmericanOther Gender Full Time Junior Sum',
 'Black/African AmericanOther Gender Part Time Junior Sum',
 'Hispanic Other Gender Full Time Junior Sum',
 'Hispanic Other Gender Part Time Junior Sum',
 'American Indian/Alaska Native Other Gender Full Time Junior Sum',
 'American Indian/Alaska Native Other Gender Part Time Junior Sum',
 'Native Hawaiian/Other Pacific Islander Other Gender Full Time Junior Sum',
 'Native Hawaiian/Other Pacific Islander Other Gender Part Time Junior Sum',
 'Black/African American Female Full Time Senior Sum',
 'Black/African American Female Part Time Senior Sum',
 'Hispanic Female Full Time Senior Sum',
 'Hispanic Female Part Time Senior Sum',
 'American Indian/Alaska Native Female Full Time Senior Sum',
 'American Indian/Alaska Native Female Part Time Senior Sum',
 'Native Hawaiian/Other Pacific Islander Female Full Time Senior Sum',
 'Native Hawaiian/Other Pacific Islander Female Part Time Senior Sum',
 'Black/African American Male Full Time Senior Sum',
 'Black/African American Male Part Time Senior Sum',
 'Hispanic Male Full Time Senior Sum',
 'Hispanic Male Part Time Senior Sum',
 'American Indian/Alaska Native Male Full Time Senior Sum',
 'American Indian/Alaska Native Male Part Time Senior Sum',
 'Native Hawaiian/Other Pacific Islander Male Full Time Senior Sum',
 'Native Hawaiian/Other Pacific Islander Male Part Time Senior Sum',
 'Black/African American Non Binary Gender Full Time Senior Sum',
 'Black/African American Non Binary Gender Part Time Senior Sum',
 'Hispanic Non Binary Gender Full Time Senior Sum',
 'Hispanic Non Binary Gender Part Time Senior Sum',
 'American Indian/Alaska Native Non Binary Gender Full Time Senior Sum',
 'American Indian/Alaska Native Non Binary Gender Part Time Senior Sum',
 'Native Hawaiian/Other Pacific Islander Non Binary Gender Full Time Senior Sum',
 'Native Hawaiian/Other Pacific Islander Non Binary Gender Part Time Senior Sum',
 'Black/African AmericanOther Gender Full Time Senior Sum',
 'Black/African AmericanOther Gender Part Time Senior Sum',
 'Hispanic Other Gender Full Time Senior Sum',
 'Hispanic Other Gender Part Time Senior Sum',
 'American Indian/Alaska Native Other Gender Full Time Senior Sum',
 'American Indian/Alaska Native Other Gender Part Time Senior Sum',
 'Native Hawaiian/Other Pacific Islander Other Gender Full Time Senior Sum',
 'Native Hawaiian/Other Pacific Islander Other Gender Part Time Senior Sum'
 ]]
total_urm_students = urm_students.sum(axis=1)

percent_urm = total_urm_students/total_students * 100

In [71]:
percent_urm

0     14.912574
1     15.634964
2     14.123405
3      8.919405
4      8.243897
        ...
88     8.828688
89     9.092589
90     6.249120
91     5.840212
92     5.645403
Length: 93, dtype: float64

In [72]:
total_urm_students

0     1339
1     1422
2     1616
3      695
4      699
      ...
88     453
89     492
90     444
91     375
92     377
Length: 93, dtype: int64

In [73]:
selected_columns = ['Year', 'IPEDS Unit ID', 'School Name']
final_df = query[selected_columns].copy()

In [74]:
final_df

    Year  IPEDS Unit ID                          School Name
0   2021       139755.0      Georgia Institute of Technology
1   2022       139755.0      Georgia Institute of Technology
2   2020       139755.0      Georgia Institute of Technology
3   2022       153603.0                Iowa State University
4   2020       153603.0                Iowa State University
..   ...            ...                                  ...
88  2020       236948.0  University of Washington in Seattle
89  2021       236948.0  University of Washington in Seattle
90  2022       240444.0      University of Wisconsin-Madison
91  2020       240444.0      University of Wisconsin-Madison
92  2021       240444.0      University of Wisconsin-Madison

[93 rows x 3 columns]

In [75]:
computed_columns = ['Total # of Students', 'Total # of Female Student', 'Total # of Male Students', 'Total # of Freshman', 'Total_URM_Fresh',
'% Female', '% Male', '% Female Freshman', '% Male Freshman', '% Asian', '% Black/African American Students', '% Foreign Students',
'% Hispanic Students', '% American Indian/Alaska Native Students', '% Native Hawaiian/Other Pacific Islander Students', '% Other Ethnicity Students',
'% White Students', '% Multiracial Students', '% Unknown Students', '% URM Freshman Students', '% URM Students']

values = [total_students, total_female_students, total_male_students, total_freshman, total_urm_freshman_students, percent_female, percent_male,
          percent_freshman_female, percent_freshman_male, percent_asian, percent_black_african, percent_foreign, percent_hispanic, percent_american_alaska,
          percent_native_other, percent_other_eth, percent_white, percent_multiracial, percent_unknown, percent_urm_freshman, percent_urm]

In [76]:
# Add lists to the DataFrame
for i, lst in enumerate(values):
    column_name = computed_columns[i]
    final_df[column_name] = lst
# Columns to add percentage symbol
columns_to_add_percentage = ['% Female', '% Male', '% Female Freshman', '% Male Freshman', '% Asian', '% Black/African American Students', '% Foreign Students',
'% Hispanic Students', '% American Indian/Alaska Native Students', '% Native Hawaiian/Other Pacific Islander Students', '% Other Ethnicity Students',
'% White Students', '% Multiracial Students', '% Unknown Students', '% URM Freshman Students', '% URM Students']

# Add percentage symbol and format with 2 decimal points
final_df[columns_to_add_percentage] = final_df[columns_to_add_percentage].apply(lambda x: x.apply(lambda val: f'{val:.2f}%'))

In [77]:
final_df

,Year,IPEDS Unit ID,School Name,Total # of Students,Total # of Female Student,Total # of Male Students,Total # of Freshman,Total_URM_Fresh,% Female,% Male,...,% Foreign Students,% Hispanic Students,% American Indian/Alaska Native Students,% Native Hawaiian/Other Pacific Islander Students,% Other Ethnicity Students,% White Students,% Multiracial Students,% Unknown Students,% URM Freshman Students,% URM Students
0,2021,139755.0,Georgia Institute of Technology,8979,3050,5929,1442,299,33.97%,66.03%,...,12.43%,7.71%,0.07%,0.01%,0.00%,39.26%,4.09%,1.40%,20.74%,14.91%
1,2022,139755.0,Georgia Institute of Technology,9095,2947,6148,610,203,32.40%,67.60%,...,12.56%,8.31%,0.04%,0.18%,0.00%,36.21%,4.05%,1.09%,33.28%,15.63%
2,2020,139755.0,Georgia Institute of Technology,11442,3842,7600,1349,244,33.58%,66.42%,...,10.96%,7.55%,0.05%,0.01%,0.00%,42.68%,4.24%,1.83%,18.09%,14.12%
3,2022,153603.0,Iowa State University,7792,1258,6534,1919,181,16.14%,83.86%,...,5.36%,6.24%,0.19%,0.05%,0.00%,72.86%,2.99%,2.96%,9.43%,8.92%
4,2020,153603.0,Iowa State University,8479,1351,7128,1700,166,15.93%,84.07%,...,6.46%,5.65%,0.20%,0.06%,0.00%,73.05%,2.69%,3.62%,9.76%,8.24%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88,2020,236948.0,University of Washington in Seattle,5131,1674,3457,1136,120,32.63%,67.37%,...,13.55%,6.43%,0.04%,0.29%,0.00%,34.83%,7.87%,1.97%,10.56%,8.83%
89,2021,236948.0,University of Washington in Seattle,5411,1837,3574,1285,131,33.95%,66.05%,...,11.31%,6.32%,0.07%,0.24%,0.00%,32.62%,7.87%,2.62%,10.19%,9.09%
90,2022,240444.0,University of Wisconsin-Madison,7105,1797,5308,858,108,25.29%,74.71%,...,17.24%,4.90%,0.08%,0.03%,0.00%,55.40%,3.48%,4.80%,12.59%,6.25%
91,2020,240444.0,University of Wisconsin-Madison,6421,1574,4847,631,56,24.51%,75.49%,...,16.74%,4.22%,0.33%,0.02%,0.00%,61.27%,3.30%,3.27%,8.87%,5.84%
92,2021,240444.0,University of Wisconsin-Madison,6678,1629,5049,691,76,24.39%,75.61%,...,16.05%,4.33%,0.10%,0.01%,0.00%,59.15%,3.80%,4.04%,11.00%,5.65%

In [78]:
final_df.to_csv("Undergrad_Report_1.csv", index=False)

## % Female Sophmore, % Male Sophmore

## % Female Junior, % Male Junior

## % Female Senior, % Male Senior